html{height: 100%; width: 100%; }
body{height: 100%;  }

#main_c{	
    height: 89%;
    background-image: url(../img/stock1.jpg);
	background-size:cover;
	background-repeat: no-repeat;
    border-width: 8px;
    border-style: solid;
    border-color: #ffe2c1;
}

#jumbo{
    opacity: 0.5;
    margin-top: 250px;
    margin-left: 15%;
    margin-right: 15%;
}

