body

{
  
    color: white;
    background-color: #000000;
   
    
}

h4

{
    
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    margin-bottom: inherit;
    
    font-family: "Verdana", Times, sans-serif;
    
    color: #fae596;
    font-size: 200%;
    text-align: center;
}

h1 {
 
    margin-left: 10%;
    margin-right: 10%;
    margin-top: inherit;
    font-family: "Verdana", Times, sans-serif;
    
    color: #fae596;
    font-size: 400%;
    text-align: center;
      
}

#green_page

{
    
    background-color: #c9d8c5;
    
}

#green_canvas

{
    
    display: inline;
    width: 100%;
    height: 100%;
    text-align:center;
    
}

#brown_page

{
    
   background-color: #7d4627;
    
}

#brown_canvas

{
    display: inline;
    width: 100%;
    height: 100%;
    text-align:center;
    
    
}




